.panel {
	background: none repeat scroll 0 0 #FFFFFF;
	height: 400px;
	left: 0;
	position: absolute;
	top: 60px;
	display: block;
	transform: translate3d(0px, 0px, 0px);
	transition: transform 0.4s cubic-bezier(0, 1, 0, 1) 0s;
	width: 100%;
}

.panel_header {
	left: 0;
	background: linear-gradient(#555555, #222222) repeat scroll 0 0
		rgba(0, 0, 0, 0);
	color: #FFFFFF;
	-moz-box-orient: horizontal;
	box-sizing: border-box;
	display: -moz-box;
	padding: 3px 10px 5px 6px;
	height: 45px;
	border-radius: 6px 6px 0 0;
	position: absolute;
	width: 100%;
}

.panel_header h3 {
	text-align: center;
	margin: 0px 10px 5px 6px;
}

.panel_body_container {
	bottom: 45px;
	top: 45px;
	left: 0;
	position: absolute;
	max-height: 100%;
	width: 100%;
}

.chat_container {
	background: none repeat scroll 0 0 #A8B6B9;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5) !important;
	font-family: microsoft YAHEI;
	
	
	overflow-y: auto;
	height: 100%;
	padding: 10px;
	color: white;
}

.chat_toolbar_footer {
	background: none repeat scroll 0 center rgba(0, 0, 0, 0);
	border-radius: 0 0 6px 6px;
	bottom: -20px;
	left: 0;
	position: absolute;
	width: 100%;
}

.chat_toolbar {
	-moz-box-orient: horizontal;
	box-sizing: border-box;
	display: -moz-box;
	padding: 3px 10px 5px 6px;
	width: 100%;
	background: linear-gradient(#555555, #222222) repeat scroll 0 0
		rgba(0, 0, 0, 0);
	color: #FFFFFF;
	border-radius: 0 0 5px 5px;
}

.input {
	background: none repeat scroll 0 center rgba(0, 0, 0, 0);
	border-radius: 0.6em;
	box-sizing: border-box;
	padding: 0.8em;
	width: 100%;
}

.chat_textarea {
	-moz-box-flex: 1;
	border-radius: 5px;
	display: block;
	height: 32px;
	margin: 5px 10px 5px 6px;
	max-height: 80px;
	overflow: hidden;
	padding: 5px 10px;
	resize: none;
}

.input_white {
	background: none repeat scroll 0 0 #F9F9F9;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
	color: #333333;
}