.panel {
	background: none repeat scroll 0 0 #424b50;
	margin: 0 0 30px;
	color: white;
	position: relative;
	overflow:visible;
	filter: alpha(opacity = 80); /*IE*/
	-moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
	background:rgba(66,75,80,0.8);
}

.chat_container {
	background: none repeat scroll 0 0 #A8B6B9;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5) !important;
	overflow-y: auto;
	height: 100%;
	color: white;
	height: 500px;
	margin-top: 15px;
	padding: 10px;
    border-radius: 5px;
    word-break: break-all;
    word-wrap: break-word;
}

.online-users {
	margin-top: 15px;
	padding: 10px;	
}
.panel-heading{
	border-bottom: 1px solid #ccc;
} 
