.panel {
	background: none repeat scroll 0 0 #424b50;
	margin: 0 0 30px;
	color: white;
	position: relative;
	overflow: visible;
	filter: alpha(opacity =   80); /*IE*/
	-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
	background: rgba(66, 75, 80, 0.8);
}

.chat_container {
	background: none repeat scroll 0 0 #A8B6B9;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5) !important;
	overflow-y: auto;
	height: 100%;
	color: white;
	height: 500px;
	margin-top: 15px;
	padding: 10px;
	border-radius: 5px;
	word-break: break-all;
	word-wrap: break-word;
}

.online-users {
	margin-top: 5px;
	padding: 10px;
}
.ou-title,.ou-title:HOVER,.ou-title:FOCUS{
	background:transparent;
	border: 1px solid #428bca;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;
	color: white;
}
.ou-users a:HOVER {
	background-color: transparent;
	border-color: #428bca;
	color: #fff;
	z-index: 2;
}
.ou-users a{
	color: black;
}


.panel-heading {
	border-bottom: 1px solid #ccc;
}

.input-bar {
	margin-top: 20px;
}