#banner-head {
	background: url("../img/bg/head_img04.jpg") repeat scroll 0 0/cover
		transparent;
	color: #FFFFFF;
	height: 550px;
	margin-bottom: -490px;
	padding: 40px;
}

.logo-info {
	color: #6b7770;
	margin-top: -20px;
}

.logo-info h1 {
	display: inline;
	margin-right: 30px;
}

.logo-info a {
	color: inherit;
	text-decoration: none;
}

.major span {
	background: none repeat scroll 0 0 #191919;
	font-family:"KaiTi_GB2312";
	color: silver;
	display: inline-block;
	position: relative;
	filter: alpha(opacity = 70); /*IE*/
	-moz-opacity: 0.7; /*Mozilla*/
	opacity: 0.7; /*FF*/  
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

.major {
	position: relative;
}

.major span {
	padding: 0 10px;
	top: -23px;
	left: 10px;
}
 
.clearfix:after {
	clear: both;
	content: " ";
	display: block;
}

p {
	line-height: 1.4em;
}

#activeUserSec li {
	position: relative;
	padding-top: 7px;
}

#activeUserSec li:HOVER .activeUserName {
	display: block;
}

.activeUserName {
	position: absolute;
	height: 20px;
	bottom: 5px;
	color: white;
	font-size: 10px;
	display: none;
	left: 5px;
	width: 42px;
	background-color: black;
	opacity: 0.8;
}

#optSec li {
	margin: 7px;
	z-index: 10;
}
#msgSec .well{
	height: 350px;
	overflow-y: auto;
	background-color: #d7ecf1;
}

.help-inline{
	color: white;
}