#banner-head {
	background: url("../img/bg/head_img04.jpg") repeat scroll 0 0 /cover 
		transparent;
	color: #FFFFFF;
	height: 400px;
	margin-bottom: -270px;
	padding: 40px;
}

.logo-info {
	color: #6b7770;
	margin-top: -20px;
}

.logo-info h1 {
	display: inline;
	margin-right: 30px;
}

.logo-info a {
	color: inherit;
	text-decoration: none;
}


.major span {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #6b7770;
	display: inline-block;
	position: relative;
}

.major {
	border-top: 5px solid #E7EAE8;
	position: relative;
}

.major span {
	padding: 0 10px;
	top: -23px;
	left: 10px;
}
 
 
.changeTopDiary{
	position: absolute;
	width:30px;
	top:0;
	right: -41px;
	background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.3);
    margin: 0 0 10%;
    padding: 5px;
}  
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
} 
p {
    line-height: 1.4em;
}
 